{% extends 'base.html.twig' %}

{% block title %}Facturas{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
    <script type="text/javascript" src="{{ asset("js/ClientInfo.js") }}"></script>
    <link rel="stylesheet" href="{{ asset("css/main.css") }}">

{% endblock %}

{% block body %}

    {% include 'header.html.twig' %}
    {% include 'menu-user.html.twig' %}

    <div class="container-fluid">
        <div class="row">
            {% include 'menu-company.html.twig' %}

            <div class="col-md-9 col-lg-10">
                <div class="container main-container">
                    <div class="row flex-xl-nowrap">
                        <div class="panel panel-table">
                            <div class="panel-heading">
                                

     <section id="sectionRegister">
        <h1>Añadir Nuevo Cliente</h1>
        <div id="Register">
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.name) }}
            {{ form_row(registrationForm.fiscalAdress) }}
            {{ form_row(registrationForm.NIF) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.phone) }}
            {{ form_row(registrationForm.web) }}
            {{ form_row(registrationForm.bossName) }}
            {{ form_row(registrationForm.bossPhone) }}
        {{ form_end(registrationForm) }}
        </div>
    </section>
 
    i<nput type="button" onclick="history.back()" name="Back" value="Back" id="backR">

    {% block footer_javascripts %}
        
        <script src="https://unpkg.com/jspdf@1.5.3/dist/jspdf.min.js"></script>
        <script src="https://unpkg.com/jspdf-autotable@3.2.13/dist/jspdf.plugin.autotable.js"></script>
        <script src="{{ asset("js/invoice.js") }}"></script>
        <script src="{{ asset("js/menu-company.js") }}"></script>

    {% endblock %}

{% endblock %}





