{% extends 'base.html.twig' %}

{% block title %}Nueva Factura{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    {% include 'header.html.twig' %}
    {% include 'menu-user.html.twig' %}

    <div class="container-fluid">
        <div class="row">
            {% include 'menu-company.html.twig' %}

            <div class="col-md-9 col-lg-10">
                <div class="container main-container">
                    <div class="row flex-xl-nowrap">
                        <div class="panel">
                        <div class="card-header">
                            <h3>Añadir Nueva Factura</h3>
                        </div>
                        <div class="panel-form invoice-form">
                            {{ form_start(invoiceForm, {'method': 'post', 'attr': {'class': 'form'}}) }}
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="add_new_bill_descriptionBill" class="control-label">Descripción</label>
                                                {{ form_widget(invoiceForm.descriptionBill, { 'attr': {'class': 'form-control form-control-lg rounded-sm', 'placeholder':'Descripción', 'rows':'4'} }) }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="add_new_bill_dateBill" class="control-label">Fecha</label>
                                                <div class="select-date-form">
                                                    {{ form_widget(invoiceForm.dateBill.day, { 'attr': {'class': 'form-control'}, 'empty_data': '1' }) }}
                                                    {{ form_widget(invoiceForm.dateBill.month, { 'attr': {'class': 'form-control'} }) }}
                                                    {{ form_widget(invoiceForm.dateBill.year, { 'attr': {'class': 'form-control'} }) }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="add_new_bill_client" class="control-label">Cliente</label>
                                                {{ form_widget(invoiceForm.client, { 'attr': {'class': 'form-control form-control-lg rounded-sm', 'placeholder':'Cliente'} }) }}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Producto</th>
                                                        <th scope="col">Concepto</th>
                                                        <th scope="col">Cantidad</th>
                                                        <th scope="col">Precio(€)</th>
                                                        <th scope="col">I.V.A.(%)</th>
                                                        <th scope="col"> Total Línea(€)</th>
                                                        <th><div class="add-little"><i class="fas fa-plus"></i></div></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">1</th>
                                                        <td>
                                                            <select id="add_new_bill_billLines_1_product" name="add_new_bill[billLines][1][product]" class="form-control rounded-sm">
                                                                <option value="null">-------</option>
                                                                {% for product in products %}
                                                                    <option value="{{ product.id }}">{{ product.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </td>
                                                        <td><input id="add_new_bill_billLines_1_description" name="add_new_bill[billLines][1][description]" type="text" class="form-control rounded-sm" required></td>
                                                        <td><input min="1" id="add_new_bill_billLines_1_quantity" name="add_new_bill[billLines][1][quantity]" type="number" class="form-control rounded-sm invoice-quantity" required></td>
                                                        <td><input min="0" id="add_new_bill_billLines_1_price" name="add_new_bill[billLines][1][price]" type="number" class="form-control rounded-sm invoice-price" required></td>
                                                        <td><input min="0" id="add_new_bill_billLines_1_billLineIva" name="add_new_bill[billLines][1][billLineIva]" type="number" class="form-control rounded-sm" required></td>
                                                        <td><input min="0" id="add_new_bill_billLines_1_subTotal" name="add_new_bill[billLines][1][subTotal]" type="number" class="form-control rounded-sm" required></td>
                                                        <td><div class="delete-little"><i class="far fa-trash-alt"></i></div></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-sm-12">
                                            
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="add_new_bill_amountIVA" class="control-label">Importe I.V.A.</label>
                                                {{ form_widget(invoiceForm.amountIVA, { 'attr': {'class': 'form-control form-control-lg rounded-sm', 'placeholder':'I.V.A total'} }) }}
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="add_new_bill_amountWithoutIVA" class="control-label">Importe sin I.V.A.</label>
                                                {{ form_widget(invoiceForm.amountWithoutIVA, { 'attr': {'class': 'form-control form-control-lg rounded-sm', 'placeholder':'Importe total'} }) }}
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="add_new_bill_totalInvoiceAmount" class="control-label">Importe total</label>
                                                {{ form_widget(invoiceForm.totalInvoiceAmount, { 'attr': {'class': 'form-control form-control-lg rounded-sm', 'placeholder':'Importe total'} }) }}
                                            </div>
                                        </div>
                                        <div class="col-sm-12" style="visibility: hidden">
                                            {{ form_rest(invoiceForm) }}
                                        </div>
                                        
                                        <div class="col-sm-12">
                                            <div class="form-actions">
                                                <button type="submit" id="profile_save" name="profile[save]" class="btn btn-primary float-left">Crear factura</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{ form_end(invoiceForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/addInvoice.js') }}"></script>
    {% endblock %}

{% endblock %}