{% extends 'base.html.twig' %}

{% block title %}
    Nueva Factura
{% endblock %}

{% block body %}
    {% block header %}
        {# {{ parent() }} #}
    {% endblock header %}

<h1>Añadir Nueva Factura</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.numberBill) }}
        {{ form_row(registrationForm.dateBill) }}
        {{ form_row(registrationForm.descriptionBill) }}
        {{ form_row(registrationForm.totalBillIva) }}
        {{ form_row(registrationForm.totalImportBill) }}
        {{ form_row(registrationForm.client) }}
        <h3>Bill Lines</h3>
        <div class="billLines">
            {{ form_rest(registrationForm) }}
        </div> 
    {{ form_end(registrationForm) }}
{% endblock %}