{% extends 'base.html.twig' %}

{% block title %}Facturas{% endblock %}

{% block body %}

    {% include 'header.html.twig' %}
    {% include 'menu-user.html.twig' %}

    <div class="container-fluid">
        <div class="row">
            {% include 'menu-company.html.twig' %}

            <div class="col-md-9 col-lg-10">
                <div class="container main-container">
                    <div class="row flex-xl-nowrap">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3>Facturas</h3>
                                <a href="#"><button><i class="fas fa-plus"></i></button></a>
                            </div>
                            <div class="panel-search">
                                <input type="date" id="buscador"><button type="submit">Buscar</button>
                                
                                <select>
                                    <option>Elija un periodo de tiempo</option>
                                    <option>3 meses atrás</option>
                                    <option>6 meses atrás</option>
                                    <option>9 meses atrás</option>
                                    <option>12 meses atrás</option>
                                </select>
                                <button type="submit">Buscar</button>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Nº Factura</th>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">Total IVA</th>
                                        <th scope="col">Importe total</th>
                                        <th width="75px" scope="col">Ver</th>
                                        <th width="75px" scope="col">Editar</th>
                                        <th width="75px" scope="col">Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for bill in bills %}
                                        <tr>
                                            <th>1</th>
                                            <td>{{ bill.numberBill }}</td>
                                            <td>{{ bill.dateBill|date("m/d/Y") }}</td>
                                            <td>{{ bill.descriptionBill }}</td>
                                            <td>{{ bill.totalBillIva }}%</td>
                                            <td>{{ bill.totalImportBill }}€</td>
                                            <td><a href="#"><button name="show" class="show"><i class="fas fa-file-pdf"></i></button></a></td>
                                            <td><a href="#"><button name="edit" class="edit"><i class="fas fa-edit"></i></button></a></td>
                                            <td><a href="#"><button name="delete" class="delete"><i class="far fa-trash-alt"></i></button></a></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer_javascripts %}

    <script src="{{ asset("js/menu-company.js") }}"></script>

{% endblock %}
