{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        <script type="text/javascript" src="{{ asset("js/ClientInfo.js") }}"></script>
        <link rel="stylesheet" href="{{ asset("css/main.css") }}">

    {% endblock %}

    
    
{% block body %}

<div id="info">
    <table>
        <tr>
            <th>Name</th>
            <td>{{ client.name }}</td>
        </tr>
        <tr>
            <th>Fiscal Address</th>
            <td>{{ client.fiscaladress }}</td>
        </tr>
        <tr>
            <th>NIF</th>
            <td>{{ client.nif }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ client.email }}</td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>{{ client.phone }}</td>
        </tr>
        <tr>
            <th>Web</th>
            <td>{{ client.web }}</td>
        </tr>
        <tr>
            <th>Boss Name</th>
            <td>{{ client.bossname }}</td>
        </tr>
        <tr>
            <th>Boss Phone</th>
            <td>{{ client.bossphone }}</td>
        </tr>
    </table>

    <br><br>

    <!--Botón para volver a la última página visitada-->
    {# <input type="button" onclick="history.back()" name="Back" value="Back"> #}
    <input type="button" value="Back" id ="boton" onClick="location.reload();"/>
    
</div>
{% endblock %}