{% extends 'base.html.twig' %}

{% block title %}Facturas{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
    <script type="text/javascript" src="{{ asset("js/ClientInfo.js") }}"></script>
    <link rel="stylesheet" href="{{ asset("css/main.css") }}">

{% endblock %}

{% block body %}

    {% include 'header.html.twig' %}
    {% include 'menu-user.html.twig' %}

    <div class="container-fluid">
        <div class="row">
            {% include 'menu-company.html.twig' %}

            <div class="col-md-9 col-lg-10">
                <div class="container main-container">
                    <div class="row flex-xl-nowrap">
                        <div class="panel panel-table">
                            <div class="panel-heading">
                                

    <div id="showAllClients"></div> 
    <section id="sect">
        <div id="titulo">
        
            <h1>Mis Clientes <a href="{{ 'cliente/agregar-nuevo-cliente' }}"><img src="{{asset("img/añadir.png")}}" alt="Añadir" 
                                     id="añadir" /></a></h1>
        
            <form action="{{ path('search', {id: company_id})}}" method="POST" id="search">
                    <input type="search" id="buscador" name="buscador" placeholder=" Buscar...">
                    <button type="submit" >Buscar</button>        
            </form>              
        </div>
        <div id="clientes">
            {% for clients in client %}
            
                <ul>
                    <li>
                        <p>
                            <div id="oneClient">
                                <a href="{{ path('show', {id:clients.id}) }}">{{ clients.name }}</a>
                            </div>
                            <div id="iconos">
                                <a href="{{ path('editar', {id: clients.id}) }}"><img 
                                        src="{{asset("img/EditarEmpleados.png")}}" alt="" /></a>
                                <a href=" {{ path('delete',{id: clients.id}) }} ">
                                        <img src="{{asset("img/borrar.png")}}" alt="Borrar" id="delete"/></a>
                            </div>
                        </p>
                    </li>
                </ul> 
                <hr>
            {% endfor %}
        </div>
            
    </section>
 


    {% block footer_javascripts %}
        
        <script src="https://unpkg.com/jspdf@1.5.3/dist/jspdf.min.js"></script>
        <script src="https://unpkg.com/jspdf-autotable@3.2.13/dist/jspdf.plugin.autotable.js"></script>
        <script src="{{ asset("js/invoice.js") }}"></script>
        <script src="{{ asset("js/menu-company.js") }}"></script>

    {% endblock %}

{% endblock %}











