{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

    {% block stylesheets %}
        {{ parent() }}
    {% endblock %}


    
{% block body %}

<main>

    <header>

        <div id="cabecera">
            <img src="img/logo1.png" alt="Logo" id="logo">
            <h1>Factura F치cil</h1>
                <a href="#"><img src="img/avatar.png" alt="Avatar"/></a>
        </div>

    </header>

    <section>
        <div id="titulo">
            <h1>Mis Clientes <a href="{{ path('addNewClient') }}"><img src="img/a침adir.png" alt="A침adir" 
                                     id="a침adir" /></a></h1>
            <form action="{{ path('search')}}" method="POST" id="search">
                    <input type="search" id="buscador" placeholder=" Buscar...">
                    <button type="submit">Buscar</button>        
            </form>              
         </div>


        <div id="clientes">
            {% for client in clients %}
                <ul>
                    <li>
                        <p>
                            <a href="{{ path('show', {id:client.id}) }}">{{ client.name }}</a>
                            <a href="{{ path('edit', {id: client.id}) }}"><img 
                                    src="img/EditarEmpleados.png" alt="" /></a>
                            <a href="#"><img src="img/borrar.png" alt="Borrar" /></a>
                        </p>
                    </li>
                </ul>

                <hr>
            {% endfor %}
        </div>

    </section>

    <aside id="menu">
        <a href="#"><h2>Mi Empresa</h2></a>
        <a href="#"><h2>Productos</h2></a>
        <a href="#"><h2>Facturas</h2></a>
        <a href="#"><h2>Clientes</h2></a>
        <a href="#"><h2>Mi Perfil</h2></a>
    </aside>

    
</main>

{% endblock %}
