{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/main.css") }}">
    <script type="text/javascript" src="{{ asset("js/ClientInfo.js") }}"></script>
{% endblock %}

{% block body %}

<main>

    <header>

        <div id="cabecera">
            <img src="{{asset("img/logo1.png")}}" alt="Logo" id="logo">
            <h1>Factura F치cil</h1>
                <a href="#"><img src="{{asset("img/avatar.png")}}" alt="Avatar"/></a>
        </div>

    </header>

    <div id="showAllClients"></div> 
    <section id="sect">
        <div id="titulo">
        
            <h1>Mis Clientes <a href="{{ 'addNewClient' }}"><img src="{{asset("img/a침adir.png")}}" alt="A침adir" 
                                     id="a침adir" /></a></h1>
        
            <form action="{{ path('search')}}" method="POST" id="search">
                    <input type="search" id="buscador" placeholder=" Buscar...">
                    <button type="submit">Buscar</button>        
            </form>              
        </div>


        <div id="clientes">
            {% for clients in client %}
            
                <ul>
                    <li>
                        <p>
                            <div id="oneClient">
                                <a href="{{ path('show', {id:clients.id}) }}">{{ clients.name }}</a>
                            </div>
                            <div id="iconos">
                                <a href="{{ path('edit', {id: clients.id}) }}"><img 
                                        src="{{asset("img/EditarEmpleados.png")}}" alt="" /></a>
                                <a href=" {{ path('delete',{id: clients.id}) }} ">
                                        <img src="{{asset("img/borrar.png")}}" alt="Borrar" id="delete"/></a>
                            </div>
                        </p>
                    </li>
                </ul>
            
                <hr>
            {% endfor %}
        </div>
            
    </section>

    

    <aside id="menu">
        <a href="#"><h2>Mi Empresa</h2></a>
        <a href="#"><h2>Productos</h2></a>
        <a href="#"><h2>Facturas</h2></a>
        <a href="#"><h2>Clientes</h2></a>
        <a href="#"><h2>Mi Perfil</h2></a>
    </aside>

    
</main>

{% endblock %}
