{% extends 'base.html.twig' %}

{% block title %}Mis empresas{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    {% include 'header.html.twig' %}
    {% include 'menu-user.html.twig' %}

    <div class="container main-container">
        <div class="row">
            <div class="panel">
                <div class="panel-heading">
                    <h3>Mis Empresas :  {{ numberCompanies }} de {{ nMaxComanies }}</h3>
                    {% if numberCompanies <   nMaxComanies %}
                        <a href="{{ path('addNewCompany') }}"><button><i class="fas fa-plus"></i></button></a>
                    {% endif %}
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Empresa</th>
                            <th width="75px" scope="col">Editar</th>
                            <th width="75px" scope="col">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for company in companies %}
                            <tr>
                                <td><a href="{{ path('showCompany', {id:company.id}) }}" id="nameCompany">{{ company.name }}</a></td>
                                <td><a href="{{ path('editCompany', {id:company.id}) }}"><button name="edit" class="edit"><i class="fas fa-edit"></i></button></a></td>
                                <td><a href="{{ path('deleteCompany', {id:company.id}) }}"><button name="delete" class="delete"><i class="far fa-trash-alt"></i></button></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

