{% extends 'base.html.twig' %}

{% block title %}My Companies{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/main.css") }}">
{% endblock %}

{% block body %}

    <main>

        <header>

            <div id="cabecera">
                <img src="img/logo1.png" alt="Logo" id="logo">
                <h1>Factura F치cil</h1>
                <a href="#"><img src="img/avatar.png" alt="Avatar"/></a>
            </div>

        </header>

        <section>
            <div id="titulo">
                {#ME HE QUEDADO AQUI CON EL IF ELSE#}
                <h1>Mis Empresas :  {{ numberCompanies }} de {{ nMaxComanies }}
                    {% if numberCompanies <   nMaxComanies %}
                    <a href="{{ path('addNewCompany') }}"><img src="img/a침adir.png" alt="A침adir"
                                                                           id="a침adirCompany" /></a>
                    {% endif %}
                </h1>
            </div>


            <div id="clientesCompany">

                {% for company in companies %}
                    <ul>
                        <li>
                            <p>
                                <a href="{{ path('showCompany', {id:company.id}) }}" id="nanmeCompany">{{ company.name }}</a>
                                <a href="{{ path('editCompany', {id:company.id}) }}"><img
                                            src="img/EditarEmpleados.png" alt="" /></a>
                                <a href="{{ path('deleteCompany', {id:company.id}) }}"><img src="img/borrar.png" alt="Borrar" /></a>

                            </p>
                        </li>
                    </ul>

                    <hr>
                {% endfor %}

</div>

</section>

    </main>

{% endblock %}

