{% extends 'base.html.twig' %}

{% block title %}Hello CompanyController!{% endblock %}

{% block body %}
{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset("css/main.css") }}">

{% endblock %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/factura_facil/src/Controller/CompanyController.php'|file_link(0) }}">src/Controller/CompanyController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/factura_facil/templates/company/index.html.twig'|file_link(0) }}">templates/company/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
